@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Our Privacy Policy</h2>
<p>
    Welcome to our website, where your privacy is important to us as the last cookie in the jar (we promise we wont take a
    bite). We collect your data to improve your experience, not to stalk you like an ex on social media. Rest assured, your secrets
    are safe with us-unless you happen to be a cookie recipe, in which case, we might share it with our grandma. By using our site,
    you're basically agreeing to let us sprinkle a little bit of our harmless digital magic on your browsing journey. Enjoy
    responsibility!
</p>

<h3>@ViewData["Message"]</h3>
